/* 商品信息 */

.wraper .content-list .content {
    float: left;
    width: 210px;
    height: 355px;
    padding: 0px 9px 10px 11px;
    /* border: 1px solid #999; */
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.wraper .content-list .content .main-img {
    display: block;
    width: 100%;
    height: 220px;
    background: url(../img/sale/kongtiao2.jpg) no-repeat;
    background-size: 200px;
    background-position: 0 0;
}

.wraper .content-list .content .main-img:nth-of-type(3) {
    background-image: url(../img/sale/kongtiao1.jpg);
}

.wraper .content-list .content .mini-img {
    display: block;
    height: 30px;
    width: 100%;
}

.wraper .content-list .content span {
    color: #00aed8;
    font-size: 22px;
    font-weight: 500;
}

.wraper .content-list .content .des {
    height: 40px;
    width: 100%;
    overflow: hidden;
    color: #666;
    font-size: 12px;
}

.wraper .content-list .content .store {
    color: #0090b4;
}

.wraper .content-list .content .content-log em {
    display: inline-block;
    padding: 1px 3px;
    border-radius: 5px;
    color: #fff;
    background-color: #00aed8;
    font-style: normal;
    font-size: 12px;
    margin: 5px 5px 0px 0px;
}